        .group {
            margin-top: 18px;
            margin-left: 231px;
            margin-right: 41px;
        }
        
        .button {
            position: absolute;
            padding-left: 840px;
            margin-top: 18px;
        }
        
        .top_menu {
            background-image: url('./img/Rectangle_black.png');
            width: 1600px;
            height: 75px;
        }
        
        .top {
            display: grid;
            grid-template-columns: 800px 800px;
        }
        
        .right {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }
        
        .menu {
            display: grid;
            grid-template-columns: repeat(3, 360px);
            margin-top: 65px;
            margin-left: 230px;
            gap: 30px;
        }
        
        .img1 {
            background-image: url('./img/lady.png');
            /*padding-left: 103px; */
            margin-bottom: 30px;
            width: 360px;
            height: 260px;
        }
        
        .img2 {
            margin-bottom: 30px;
            width: 360px;
            height: 260px;
        }
        
        .img2 {
            background-image: url('./img/man.png');
            margin-bottom: 30px;
            width: 360px;
            height: 260px;
        }
        
        .img3 {
            background-image: url('./img/kid.png');
            margin-bottom: 30px;
            width: 360px;
            height: 260px;
        }
        
        .img4 {
            margin-left: 230px;
            width: 1140px;
            height: 180px;
            margin-bottom: 96px;
        }
        
        body {
            font-family: 'Lato', sans-serif;
        }
        
        h1 {
            color: #222;
            font-family: Lato;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        h2 {
            color: #9F9F9F;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        .content1 {
            display: grid;
            grid-template-columns: repeat(3, 360px);
            grid-template-rows: 420px;
            margin-left: 230px;
            gap: 30px;
            margin-top: 47px;
            margin-bottom: 30px;
        }
        
        .img1_1 {
            background-image: url('./img/Rectangle_rose.png');
            padding-left: 108px;
            margin-top: 9px;
            background-color: #F7E4E2;
            /* width: 360px;*/
            /* height: 420px;*/
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: repeat;
        }
        
        h3 {
            color: #000;
            font-family: Lato;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        h4 {
            color: #5D5D5D;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        
        h5 {
            color: #F16D7F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 315px;
            max-height: 51px;
        }
        
        .content2 {
            display: grid;
            grid-template-columns: repeat(3, 360px);
            grid-template-rows: 420px;
            margin-left: 230px;
            gap: 30px;
        }
        
        .content2_1 {
            background-color: #F8F8F8;
            height: 161px;
            padding-left: 16px;
            padding-right: 29px;
        }
        
        .browse_button {
            width: 212px;
            height: 48px;
            border: 1px solid #F26376;
            color: #F26376;
            margin-bottom: 50px;
            margin-left: 695px;
            background-color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        .title1 {
            color: #FFF;
            text-align: center;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        .title2 {
            color: #F16D7F;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
            font-style: normal;
        }
        
        .parent {
            display: flex;
            flex-direction: column;
            align-items: center;
            /*justify-content: center;*/
            background-image: url('./img/Rectangle.svg');
            background-repeat: no-repeat;
            margin-left: 230px;
            width: 1140px;
            height: 180px;
            margin-bottom: 36px;
            gap: 1px;
            padding-top: 65px;
            padding-bottom: 65px;
        }